* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e9d8a6;
  color: #3d405b;
  font-family: "Roboto", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  width: 200px;
  padding: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: #fefae0;
  color: #3d405b;
  margin-left: 5px;
  font-weight: 400;
}

select:focus,
button:focus {
  outline: 0;
}

label {
  font-size: 1rem;
  font-weight: 600;
  color: #fefae0;
}

.settings-btn {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #fefae0;
  padding: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.fas {
  transition: all 0.5s ease;
}
.settings-btn:hover .fas {
  transform: rotate(40deg) scale(1.3);
  color: #dda15e;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dda15e;
  color: #3d405b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(0px);
  transition: transform 0.3s ease-in-out;
}

.hide {
  transform: translateY(-100px);
}

.game-container {
  background-color: #e9d8a6;
  padding: 20px;
  border-radius: 4px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #3d405b;
  position: relative;
  text-align: center;
  width: 500px;
}
.game-container h2 {
  color: #fefae0;
  background-color: #dda15e;
  padding: 8px;
  border-radius: 4px;
  margin: 0 0 40px;
}
h1 {
  margin: 0;
  color: #e76f51;
}

input {
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  width: 300px;
  padding: 12px 20px;
  margin-top: 10px;
}
input:focus {
  outline: 0;
}

input::placeholder {
  font-weight: 600;
}

.score {
  position: absolute;
  top: 80px;
  right: 20px;
}

.time {
  position: absolute;
  top: 80px;
  left: 20px;
}
.game-end {
  background-color: inherit;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.time-data,
.score-data {
  font-weight: 600;
}
